<!-- Nav -->
<header>
    <div class="container-fluid" id="nav">
        <div class="d-flex" id="nav-container">
            <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                id="logo-container">
                <a href="https://www.makati.gov.ph" target="_blank"><img src="images/logo.png"
                        class="img-fluid rounded-circle" id="logo"></a>
            </div>

            <nav class="navbar navbar-expand-md">
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" id="navbarDropdown">
                                Home<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li> -->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/services" id="srsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="srsDropdown">
                                <a class="dropdown-item" href="/services">Our Services</a>
                                <a class="dropdown-item" href="/health-center">Health Center</a>
                                <a class="dropdown-item" href="/agricultural">Agricultural</a>
                                <a class="dropdown-item" href="/fire-dept">Fire Department</a>
                                <a class="dropdown-item" href="/maintenance">Maintenance</a>
                            </div>
                        </div>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/barangay-documents">Barangay Forms</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-5">
                        <li>
                            <p class="nav-link text-white m-2">Hello <b>
                                    <%= fname %>
                                </b></p>
                        </li>
                        <li>
                            <form action="/logout?_method=DELETE" method="post">
                                <button class="nav-link text-white m-2 bg-transparent" type="submit"
                                    style="border: none; cursor: pointer;">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>