<footer class="page-footer" id="page-footer">
    <div class="container">
    </div>

    <div class="container-fluid" id="footer-footer">
        <div class="container" id="bottom">
            <p class="float-md-left">Made possible by UMak Students</p>
            <p class="float-md-right">Copyright &copy; 2022 Management Website by Cembo</p>
        </div>
    </div>
</footer>