<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops, page not found</title>
    <style>
        body {
            background-image: url('images/pexels-christian-paul-del-rosario.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        .main {
            text-align: center;
            margin-top: 25%;
        }

        .number {
            font-size: 10em;
            font-family: sans-serif;
            color: #FCC422;
        }

        .content {
            color: white;
            font-size: xx-large;
            font-family: system-ui;
            margin-top: -7rem;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1 class="number">404</h1>
        <h3 class="content">Oops, page not found</h3>
    </div>
</body>

</html>