<h1>Hi <%= name %>
</h1>
<form action="/logout?_method=DELETE" method="post">
  <!--?_method=DELETE-->
  <a href="/foradmin">Admin Page</a>
  <a href="/users/grades">See Grades</a>
  <button type="submit">Log Out</button>
</form>