/* Fixes */
:root {
    --primary-color: #263A90;
    --secondary-color: #ADD8FF;
    --tertiary-color: #FCC422;
    --tertiary-color-translucent: #fcc52240;
    --quarternary-color: #FFFFFF;
    --primary-font: Kanit;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}


.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 150px;
    background: #6459fb;
    /* Height of footer */
    min-height: 100%;
}


/* End */
/* Actual Modifications */
#nav {
    width: 90%;
}

#nav-container {
    width: 100%;
}

.navbar {
    position: absolute;
    z-index: 2;
    margin-left: 10%;
    width: 78%;
    height: auto;
    background-color: var(--primary-color);
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.45);
}

.nav-link {
    color: var(--quarternary-color);
}

.nav-item {
    font-family: var(--primary-font);
    font-size: larger;
    padding-left: 30px;
}

#logo-container {
    position: absolute;
    z-index: 3;
    padding: 0.5vw;
    width: 10%;
    height: auto;
    background-color: var(--tertiary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px -6px 26px 3px rgba(0, 0, 0, 0.45);
}

#intro {
    width: 85%;
    padding-top: 15%;
    padding-bottom: 3%;
}

#announcement {
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#officials {
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#announcement-item {
    border: 0;
    font-family: var(--primary-font);
    box-shadow: 8px -6px 26px 3px rgba(0, 0, 0, 0.45);
}

#announcement-header {
    text-align: center;
    font-family: var(--primary-font);
    font-size: x-large;
    font-weight: bolder;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

#portrait-holder {
    align-self: center;
    text-align: center;
    align-content: center;
    font-family: var(--primary-font);
    border-width: 10px;
    border-bottom: 0px;
    border-color: var(--quarternary-color);
    box-shadow: 8px -6px 26px 3px rgba(0, 0, 0, 0.45);
}

#portrait-holder h3 {
    font-weight: bolder;
}

#namespace {
    background-color: var(--tertiary-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#bottom {
    text-align: center;
}

/* End */
/* Shared */
.parallax-bg-img {
    z-index: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 8px -6px 26px 3px rgba(0, 0, 0, 0.45);
}

#header-container {
    text-align: center;
    height: 100%;
    padding-bottom: 0.5%;
    font-family: var(--primary-font);
    font-size: xx-large;
    font-weight: bolder;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content-container {
    height: 100%;
    padding: 2.5%;
    background-color: var(--tertiary-color-translucent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px -6px 26px 3px rgba(0, 0, 0, 0.45);
}

.row,
.col {
    border-width: 10px !important;
    border-color: #00000000 !important;
}

/* style for charts */
.chart-container {
    width: 100%;
    height: 20em;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card h3 {
    padding-top: 1rem;
}

#login_info {
    background-color: var(--primary-color);
}

.txt-primary {
    color: var(--primary-color);
}

/* */
@media (max-width: 576px) {
    #header-container {
        font-size: x-large;
    }

    #portrait-holder {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    #header-container {
        font-size: xx-large;
    }
}

/* End */