<!doctype html>
<%- include('./head') %>
    <style>
        /* style for charts */
        .chart-container {
            width: 100%;
            height: 20em;
            padding-bottom: 1rem;
            padding-left: 1rem;
        }

        .card h3 {
            padding-top: 1rem;
        }

        .row-header {
            margin-top: 5rem;
        }
    </style>

    <body>
        <!-- Fixes Footer to Bottom -->
        <div class="wrapper">
            <!-- Nav -->
            <%- include('./nav') %>
                <!-- Content -->
                <main>
                    <div id="content">
                        <div class="parallax-bg-img" style="background-image: url('res/Rectangle\ 68.png');">
                            <div class="jumbotron bg-white vertical-center">
                                <div class="row row-header pb-5">

                                    <div class="col-lg-4 col-md-12 col-sm-12 pt-sm-2">
                                        <div class="card p-3">
                                            <h2>TOTAL # RESIDENTS: <span id="n_residents"></span></h2>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12 pt-sm-2">
                                        <div class="card p-3">
                                            <h2>TOTAL # HOUSEHOLDS: <span id="n_households"></span></h2>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12 pt-sm-2">
                                        <div class="card p-3">
                                            <h2>TOTAL # FAMILIES: <span id="n_families"></span></h2>
                                            </h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Age</h3>
                                            <div class="chart-container">
                                                <canvas id="ages"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Gender</h3>
                                            <div class="chart-container">
                                                <canvas id="gender"></canvas>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center mt-lg-5">
                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Civil Status</h3>
                                            <div class="chart-container">
                                                <canvas id="civil_status"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Social Sector</h3>
                                            <div class="chart-container">
                                                <canvas id="social_sector"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center mt-lg-5">
                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Cards Owned</h3>
                                            <div class="chart-container">
                                                <canvas id="cards"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mt-sm-3">
                                        <div class="card">
                                            <h3>Vaccinated</h3>
                                            <div class="chart-container">
                                                <canvas id="vaccinated"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center mt-lg-5">
                                    <div class="col-lg-12 mt-sm-3">
                                        <div class="card">
                                            <h3>Religion</h3>
                                            <div class="chart-container">
                                                <canvas id="religion"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </main>

        </div>
    </body>

    </html>
    <!--* AJAX-->
    <script src="javascripts/admin_homepage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!--* BOOTSTRAP JS-->
    <script src="javascripts/bootstrap.min.js"></script>

    <!--* CHARTS-->
    <script src="javascripts/chartslib.js"></script>
    <script src="javascripts/charts.js"></script>