<!doctype html>
<html lang="en">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<!-- Custom -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
<link rel="stylesheet" href="stylesheets/services/fire-dept.css">
<link rel="stylesheet" href="stylesheets/services/firedept-responsive.css">
<title>
    <%= title %>
</title>

<body>
    <div class="wrapper">
        <%- include('../parts/header') %>
            <!--Content-->
            <main>
                <div class="content">
                    <div class="bg-image" style="background-image: url('images/services/background.png');">
                        <div class="container-fluid" id="fire-department">
                            <p class="title"> FIRE DEPARTMENT </p>
                            <p class="text-content">Health centers provide access to basic health care
                                services in the communities that need them most. Their doors are open
                                to everyone – families and children, farm workers and the homeless,
                                and those who are uninsured, on Medicaid, or have private insurance.</p>
                            <hr
                                style="width: 100%; height: 0.5px; border-width: 0; color:antiquewhite; background-color: white;">
                            <img src="images/services/fire-dept.jpg" id="img-firedept">
                        </div>
                        <!--RESCUE-->
                        <div class="container-fluid" id="rescue-container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-7 col-sm-4">
                                            <img src="images/services/rescue.jpg" id="rescue">
                                        </div>
                                        <div class="col">
                                            <p class="titlecap">RESCUE</p>
                                            <p class="textcontent">Health centers provide access to basic health
                                                care
                                                services in the communities that need them most. Their doors are
                                                open
                                                to everyone – families and children, farm workers and the homeless,
                                                and those who are uninsured, on Medicaid, or have private insurance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--INSPECTION-->
                        <div class="container-fluid" id="inspection-container">
                            <div class="row">
                                <div class="col">
                                    <p class="titlecap1"> INSPECTION</p>
                                    <p class="textcontent1">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-4">
                                    <img src="images/services/inspection.jpg" id="inspection">
                                </div>
                            </div>
                        </div>
                        <!--TRAINING-->
                        <div class="container-fluid" id="training-container">
                            <div class="row">
                                <div class="col">
                                    <img src="images/services/training.jpg" id="training">
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-4">
                                    <p class="titlecap2">TRAINING</p>
                                    <p class="textcontent2">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                </div>
                            </div>
                        </div>
                        <!--SEMINAR-->
                        <div class="container-fluid" id="seminar-container">
                            <div class="row">
                                <div class="col">
                                    <p class="titlecap3"> SEMINAR</p>
                                    <p class="textcontent3">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-4">
                                    <img src="images/services/fire-seminar.jpg" id="seminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <footer class="page-footer">
                <div class="container">
                </div>

                <div class="container-fluid" id="footer-footer">
                    <div class="container" id="bottom">
                        <p class="float-md-left">Made possible by UMak Students</p>
                        <p class="float-md-right">Copyright &copy; 2022 Management Website by Cembo</p>
                    </div>
                </div>
            </footer>
    </div>
    <!--* BOOTSTRAP JS-->
    <script src="javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</body>

</html>