<!doctype html>
<html lang="en">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Custom -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
<link rel="stylesheet" href="stylesheets/services/health-center.css">
<link rel="stylesheet" href="stylesheets/services/healthcenter-responsive.css">
<title>
    <%= title %>
</title>

<body>
    <div class="wrapper">
        <%- include('../parts/header') %>
            <!--Content-->
            <main>
                <div class="content">
                    <div class="bg-image" style="background-image: url('images/services/background.png');">
                        <div class="container-fluid" id="health-center">
                            <p class="title"> HEALTH CENTER </p>
                            <p class="text-content">Health centers provide access to basic health care
                                services in the communities that need them most. Their doors are open
                                to everyone – families and children, farm workers and the homeless,
                                and those who are uninsured, on Medicaid, or have private insurance. </p>
                            <hr
                                style="width: 100%; height: 0.5px; border-width:0; color:antiquewhite; background-color: white;">
                            <img src="images/services/health-center1.jpg" id="img-health">
                        </div>
                        <!-- HEALTH CENTER -->
                        <div class="container-fluid" id="checkup-container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-8 col-sm-4">
                                            <img src="images/services/check-up.jpg" id="checkup">
                                        </div>
                                        <!--CHECK UP-->
                                        <div class="col">
                                            <p class="titlecap1">CHECK-UP</p>
                                            <p class="textcontent1">Health centers provide access to basic health
                                                care
                                                services in the communities that need them most. Their doors are
                                                open
                                                to everyone – families and children, farm workers and the homeless,
                                                and those who are uninsured, on Medicaid, or have private insurance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- VACCINE -->
                        <div class="container-fluid" id="vaccine-container">
                            <div class="row">
                                <div class="col">
                                    <p class="titlecap2">VACCINE</p>
                                    <p class="textcontent2">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-4">
                                    <img src="images/services/vaccine.jpg" id="vaccine">
                                </div>
                            </div>
                        </div>
                        <!--CONSULTAION-->
                        <div class="container-fluid" id="consultation-container">
                            <div class="row">
                                <div class="col">
                                    <img src="images/services/consulation.jpg" id="consultation">
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-4">
                                    <p class="titlecap3">CONSULTATION</p>
                                    <p class="textcontent3">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                </div>
                            </div>
                        </div>
                        <!--SEMINAR-->
                        <div class="container-fluid" id="seminar-container">
                            <div class="row">
                                <div class="col">
                                    <p class="titlecap4">SEMINAR</p>
                                    <p class="textcontent4">Health centers provide access to basic health care
                                        services in the communities that need them most. Their doors are open
                                        to everyone – families and children, farm workers and the homeless,
                                        and those who are uninsured, on Medicaid, or have private insurance.</p>
                                    <img src="images/services/seminar.jpg" id="seminar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <footer class="page-footer">
                <div class="container">
                </div>

                <div class="container-fluid" id="footer-footer">
                    <div class="container" id="bottom">
                        <p class="float-md-left">Made possible by UMak Students</p>
                        <p class="float-md-right">Copyright &copy; 2022 Management Website by Cembo</p>
                    </div>
                </div>
            </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>