<!doctype html>
<html lang="en">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<!-- Custom -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">

<link rel="stylesheet" href="stylesheets/services/services.css">
<link rel="stylesheet" href="stylesheets/services/services-responsive.css">


<title>
    <%= title %>
</title>

<body>
    <div class="wrapper">
        <%- include('../parts/header') %>
            <!--Content-->
            <main>
                <div class="content">
                    <div class="bg-image" style="background-image: url('images/services/background.png');">
                        <div class="container-fluid" id="services">
                            <div class="container-fluid" id="header-container">
                                <img src="images/services/services.jpg" id="img-services">
                            </div>
                            <div class="container-fluid" style="background-color: #263A90; padding-bottom: 20%;">
                                <div class="text">
                                    <p class="titlecap">OUR SERVICES</p>
                                    <p class="text-content1">
                                        <%= services %>
                                    </p>
                                </div>
                                <!-- HEALTH CENTER -->
                                <div class="container-fluid" id="content-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="img-health">
                                                    <img src="images/services/health-center.jpg" id="health-center">
                                                </div>
                                                <div class="container-fluid" id="texts">
                                                    <p class="titlecap1"> HEALTH CENTER
                                                    <p>
                                                    <p class="text1">Serve as the frontliners in the barangay in
                                                        providing
                                                        basic health services. They play a vital role in
                                                        accomplishing the primary health care approach towards
                                                        health empowerment by providing accessible and acceptable
                                                    </p>
                                                </div>
                                                <p> <a class="btn btn-health" href="/health-center"
                                                        title="Read More">Read More</a></p>
                                            </div>
                                            <!-- AGRICULTURAL -->
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="img-tree">
                                                    <img src="images/services/tree-planting.jpg" id="tree-planting">
                                                </div>
                                                <div class="container-fluid" id="texts">
                                                    <p class="titlecap3">AGRICULTURAL</p>
                                                    <p class="text2">The tree planting activity aims to raise
                                                        awareness
                                                        to the society in the importance of planting and
                                                        saving trees, this will express our concern to the
                                                        environment,
                                                        and diminish the unfavorable effects of climate change</p>
                                                </div>
                                                <p> <a class="btn btn-agricultural" href="/agricultural"
                                                        title="Read More">Read More</a></p>
                                            </div>
                                            <!-- FIRE DEPARTMENT -->
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="img-fire">
                                                    <img src="images/services/fire-dept1.jpg" id="fire-dept1">
                                                </div>
                                                <div class="container-fluid" id="texts">
                                                    <p class="titlecap4">FIRE DEPARTMENT</p>
                                                    <p class="text3">Rescue is the most important function of every
                                                        fire department.
                                                        From day one in recruit school, firefighters are programmed
                                                        that
                                                        life safety is the number one priority. Rescues are
                                                        situations
                                                        where firefighters promise</p>
                                                </div>
                                                <p> <a class="btn btn-firedept" href="/fire-dept" title="Read More">Read
                                                        More</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </diV>
                </div>
            </main>
            <!-- Footer -->
            <footer class="page-footer">
                <div class="container">
                </div>

                <div class="container-fluid" id="footer-footer">
                    <div class="container" id="bottom">
                        <p class="float-md-left">Made possible by UMak Students</p>
                        <p class="float-md-right">Copyright &copy; 2022 Management Website by Cembo</p>
                    </div>
                </div>
            </footer>
    </div>
    <!--* BOOTSTRAP JS-->
    <script src="javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</body>

</html>