@media (max-width: 576px) {
    #header-container {
        font-size: x-large;
    }

    div.content {
        width: 100%;
        align-items: center;
        justify-content: center;
    }


}

@media (max-width: 768px) {
    #header-container {
        font-size: xx-large;
    }

    img#checkup {
        padding-top: 15%;
    }

    img#vaccine {
        padding-top: 20%;
    }

    img#consultation {
        padding-top: 20%;
    }


   

  
}